    <!-- Download Section -->
    <section id="uin" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>UIN SUSKA RIAU</h2>
                    <p> UIN Suska Riau merupakan universitas islam negri yang berada di provinsi riau. letaknya yang berada di kota Pekanbaru,.</p>
                    <a href="http://uin-suska.ac.id" class="btn btn-success" target="_blank">Web Official UIN SUSKA</button></a>
                </div>
            </div>
        </div>
    </section>
